<!DOCTYPE html>
<html ng-app="UnitTwo">
  <head>
    <meta charset="utf-8">
    <title>Angular Unit 2 Notes</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-cloak>
    <section>
      <h1>Section 4, Custom Filters</h1>
      <p>Remember that filters are just functions to which we pass input and get
        some returned output to display. Every filter needs to return a function
        that takes a single argument</p>
      <input type="text" ng-model="caseFilter">
      <p ng-show="caseFilter.length>0">Kebab filter: {{caseFilter | kebab}}</p>
      <p ng-show="caseFilter.length>0">Camel filter: {{caseFilter | camel}}</p>
    </section>
    <section>
      <h1>Section 5: Routing</h1>
      <h3>Skipping ng-route and doing Unit 3 ui-router instead</h3>
      <p><a href="http://www.funnyant.com/angularjs-ui-router/">ui-route tutorial</a></p>
    </section>

    <section ng-controller="ZenController">
      <h1>Section 6: http-service</h1>
      <p>{{zenData}}
    </section>

    <section ng-controller="Calculator" class="section8">
      <h1>Section 8: Services</h1>
      <div class="miniCalc">
        <h3>Mini Calculator</h3>
        <form class="miniCalc" action="javascript:void(0)" ng-submit="calculate(calculation, math.first, math.second)">
        Operation:
          <select name="math" ng-model="calculation" id="operation">
            <option
            ng-repeat="operation in operations" value="{{operation}}">
            {{operation}}
            </option>
          </select>
          <label for="mathFirst">First Number</label>
          <input type="number" ng-model="math.first" id="mathFirst">
          <label for="mathSecond">Second Number</label>
          <input type="number" ng-model="math.second" id="mathSecond">
          <input type="submit" value="calculate">
        </form>
        <h4>The value is: {{value}}</h4>
      </div>
    </section>

    <section ng-controller="ToDo" class="section8">
      <h1>Section 8: To Do List</h1>
      <h3>Add a To Do</h3>
      <form name="addToDoForm" class="toDoApp" ng-submit="addToDo(todo)" action="javascript:void(0)">
        <input name="task" type="text"
        ng-model="todo.task" required>
        <input type="submit" value="Add" ng-class="{valid:addToDoForm.todo.task$valid}"
        ng-disabled="addToDoForm.$invalid">
      </form>
      <h3>All of Your To Dos</h3>
      <ul ng-repeat="todo in toDos track by $index">
        <li>{{todo.task}}
        <button class="edit" ng-click="toggleEditForm(todo)">Edit this task</button>
        <button class="delete" ng-click="deleteToDo($index)">X</button>
      </li>

        <form name="editForm" ng-show="todo.editFormShowing"
        action="javascript:void(0)"
        ng-submit="editToDo($index, todo)">
          <input type="text" ng-model="todo.task" value="{{todo.task}}" required>
          <input type="submit" value="Edit"
          ng-class="{valid:editForm.todo.task$valid}"
          ng-disable="editForm.$invalid">
        </form>
      </ul>
    </section>
    <section>

    </section>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
    <script type="text/javascript" src="./js/app.js"></script>
    <script type="text/javascript" src="./js/controllers.js" ></script>
    <script type="text/javascript" src="./js/directives.js" ></script>
    <script type="text/javascript" src="./js/filters.js" ></script>
    <script type="text/javascript" src="./js/services.js" ></script>
  </body>
</html>
