body{
  display: flex;
  flex-wrap: wrap-reverse;
  box-sizing: border-box;
}

body > section{
  border:1px black solid;
  margin:.5vw;
  padding: .5vw;
  width: 31%;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.miniCalc{
  display: flex;
  flex-direction: column;
  margin: .5vw;
}

input, select{
  margin: .5vw 0;
}

.toDoApp{
  display: flex;
  flex-direction: column;
  margin: .5vw;
}

.valid{
  background-color: rgb(33, 224, 75);
  font-weight: bold;
}

.edit{
  background-color: lightblue;
}
.delete{
  background-color: rgb(170, 77, 77);
}
